{
  "log": {
    "_recordingName": "pollDMs (cassette)/returns a fetched count and writes integration_state for slack",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "402790c507e65df3f991480425e1e2c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://slack.com/api/auth.test"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 174,
            "text": "{\"ok\":true,\"url\":\"https://example.slack.com/\",\"team\":\"[redacted]\",\"user\":\"[redacted]\",\"team_id\":\"T0A63ULSH6K\",\"user_id\":\"U0A6P0984BE\",\"is_enterprise_install\":false}"
          },
          "headers": [
            {
              "name": "x-slack-req-id",
              "value": "e2a61d348b2f6ce35a1130363f8f9497"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": "identify,channels:history,groups:history,im:history,mpim:history,channels:read,files:read,groups:read,im:read,mpim:read,reactions:read,search:read,users:read,users:read.email,channels:write,chat:write,groups:write,im:write,mpim:write,reactions:write"
            },
            {
              "name": "x-slack-unique-id",
              "value": "afs6eZdy0shWN4zK4aMRsAAAAA0"
            },
            {
              "name": "x-slack-backend",
              "value": "r"
            },
            {
              "name": "x-backend",
              "value": "api_normal"
            },
            {
              "name": "x-server",
              "value": "slack-www-hhvm-api-iad-wb0cikjgq3jj"
            },
            {
              "name": "x-slack-shared-secret-outcome",
              "value": "no-match"
            },
            {
              "name": "x-edge-backend",
              "value": "envoy-www"
            },
            {
              "name": "x-slack-edge-shared-secret-outcome",
              "value": "no-match"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 576,
      },
      {
        "_id": "d3eeeba4e36ec2c0ecaf017c913f008f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "types=im&limit=200"
          },
          "queryString": [],
          "url": "https://slack.com/api/conversations.list"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1753,
            "text": "{\"ok\":true,\"channels\":[{\"id\":\"D0B0DA7J2E6\",\"created\":1777388394,\"is_org_shared\":false,\"is_im\":true,\"is_archived\":false,\"context_team_id\":\"T0A63ULSH6K\",\"updated\":1777388394987,\"user\":\"U0B0S796HFT\",\"is_user_deleted\":false,\"priority\":0},{\"id\":\"D0AR3H97DKK\",\"created\":1775212974,\"is_org_shared\":false,\"is_im\":true,\"is_archived\":false,\"context_team_id\":\"T0A63ULSH6K\",\"updated\":1775212974394,\"user\":\"U0AQNJDA2BY\",\"is_user_deleted\":false,\"priority\":0},{\"id\":\"D0AFBRDNU77\",\"created\":1771331646,\"is_org_shared\":false,\"is_im\":true,\"is_archived\":false,\"context_team_id\":\"T0A63ULSH6K\",\"updated\":1774944668794,\"user\":\"U0AEZQSNC3Z\",\"is_user_deleted\":false,\"priority\":0,\"properties\":\"[redacted]\"},{\"id\":\"D0AF8SF99SP\",\"created\":1771331624,\"is_org_shared\":false,\"is_im\":true,\"is_archived\":false,\"context_team_id\":\"T0A63ULSH6K\",\"updated\":1774944668629,\"user\":\"U0AFF8JRW9G\",\"is_user_deleted\":false,\"priority\":0,\"properties\":\"[redacted]\"},{\"id\":\"D0A7DM98BCG\",\"created\":1767414815,\"is_org_shared\":false,\"is_im\":true,\"is_archived\":false,\"context_team_id\":\"T0A63ULSH6K\",\"updated\":1770204463620,\"user\":\"U0A6P0984BE\",\"is_user_deleted\":false,\"priority\":0,\"properties\":\"[redacted]\"},{\"id\":\"D0A6D0Z6F2P\",\"created\":1767414815,\"is_org_shared\":false,\"is_im\":true,\"is_archived\":false,\"context_team_id\":\"T0A63ULSH6K\",\"updated\":1774944668655,\"user\":\"USLACKBOT\",\"is_user_deleted\":false,\"priority\":0,\"properties\":\"[redacted]\"}],\"response_metadata\":{\"next_cursor\":\"\"}}"
          },
          "headers": [
            {
              "name": "x-slack-req-id",
              "value": "49bae363d536fff0080506f5c1753f37"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "channels:read,groups:read,mpim:read,im:read,read"
            },
            {
              "name": "x-oauth-scopes",[...]
