{
  "log": {
    "_recordingName": "pollMentions/writes mention rows with kind=\"mention\" and prefixed external_id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "deed50e70217a7422a6355c278d5aae1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "is:pr mentions:lachiejames repo:slopweaver/slopweaver"
            },
            {
              "name": "per_page",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ],
          "url": "https://api.github.com/search/issues?q=is%3Apr%20mentions%3Alachiejames%20repo%3Aslopweaver%2Fslopweaver&per_page=50&sort=updated&order=desc"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 79,
            "text": "{\"total_count\":0,\"incomplete_results\":false,\"items\":[],\"search_type\":\"lexical\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "allows_permissionless_access=true"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "20"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1778065801"
            },
            {
              "name": "x-ratelimit-used",
              "value": "10"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "search"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 473,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
