{
  "log": {
    "_recordingName": "fetchIdentity (cassette)/records and replays a real workspace identity fetch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "402790c507e65df3f991480425e1e2c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://slack.com/api/auth.test"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 174,
            "text": "{\"ok\":true,\"url\":\"https://example.slack.com/\",\"team\":\"[redacted]\",\"user\":\"[redacted]\",\"team_id\":\"T0A63ULSH6K\",\"user_id\":\"U0A6P0984BE\",\"is_enterprise_install\":false}"
          },
          "headers": [
            {
              "name": "x-slack-req-id",
              "value": "74ecdaf333b91be7ae7973bd68d90530"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": "identify,channels:history,groups:history,im:history,mpim:history,channels:read,files:read,groups:read,im:read,mpim:read,reactions:read,search:read,users:read,users:read.email,channels:write,chat:write,groups:write,im:write,mpim:write,reactions:write"
            },
            {
              "name": "x-slack-unique-id",
              "value": "afs6eSQprabcoiG0O0MgUgAAAB8"
            },
            {
              "name": "x-slack-backend",
              "value": "r"
            },
            {
              "name": "x-backend",
              "value": "api_normal"
            },
            {
              "name": "x-server",
              "value": "slack-www-hhvm-api-iad-u8ptoab2k6mg"
            },
            {
              "name": "x-slack-shared-secret-outcome",
              "value": "no-match"
            },
            {
              "name": "x-edge-backend",
              "value": "envoy-www"
            },
            {
              "name": "x-slack-edge-shared-secret-outcome",
              "value": "no-match"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 600,
      },
      {
        "_id": "40c5bf3f2699b9edcb7374af49a8b265",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "user=U0A6P0984BE"
          },
          "queryString": [],
          "url": "https://slack.com/api/users.info"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1784,
            "text": "{\"ok\":true,\"user\":{\"id\":\"U0A6P0984BE\",\"name\":\"[redacted]\",\"is_bot\":false,\"updated\":1771332230,\"is_app_user\":false,\"team_id\":\"T0A63ULSH6K\",\"deleted\":false,\"color\":\"[redacted]\",\"is_email_confirmed\":true,\"real_name\":\"[redacted]\",\"tz\":\"[redacted]\",\"tz_label\":\"[redacted]\",\"tz_offset\":36000,\"is_admin\":true,\"is_owner\":true,\"is_primary_owner\":true,\"is_restricted\":false,\"is_ultra_restricted\":false,\"has_2fa\":false,\"who_can_share_contact_card\":\"[redacted]\",\"profile\":{\"real_name\":\"[redacted]\",\"display_name\":\"[redacted]\",\"avatar_hash\":\"[redacted]\",\"real_name_normalized\":\"[redacted]\",\"display_name_normalized\":\"[redacted]\",\"image_24\":\"[redacted]\",\"image_32\":\"[redacted]\",\"image_48\":\"[redacted]\",\"image_72\":\"[redacted]\",\"image_192\":\"[redacted]\",\"image_512\":\"[redacted]\",\"image_1024\":\"[redacted]\",\"image_original\":\"[redacted]\",\"is_custom_image\":true,\"first_name\":\"[redacted]\",\"last_name\":\"[redacted]\",\"team\":\"T0A63ULSH6K\",\"email\":\"[redacted]\",\"title\":\"[redacted]\",\"phone\":\"[redacted]\",\"skype\":\"\",\"status_text\":\"[redacted]\",\"status_text_canonical\":\"\",\"status_emoji\":\"[redacted]\",\"status_emoji_display_info\":[],\"status_expiration\":0,\"huddle_state\":\"default_unset\",\"huddle_state_expiration_ts\":0}}}"
          },
          "headers": [
            {
              "name": "x-slack-req-id",
              "value": "697c4a0d6f43486de7da26f472a918f2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "users:read"
            },
            {
              "name": "x-oauth-scopes",
              "value": "identify,channe[...]
