{
  "log": {
    "_recordingName": "pollIssues/writes issue rows with kind=\"issue\" and prefixed external_id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "deed50e70217a7422a6355c278d5aae1",
        "request": {
          "headers": [
            {
              "name": "x-github-api-version",
              "value": "2022-11-28"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "is:issue involves:@me repo:slopweaver/slopweaver"
            },
            {
              "name": "per_page",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ],
          "url": "https://api.github.com/search/issues?q=is%3Aissue%20involves%3A%40me%20repo%3Aslopweaver%2Fslopweaver&per_page=50&sort=updated&order=desc"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 64680,
            "text": "{\"total_count\":11,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/22\",\"repository_url\":\"https://api.github.com/repos/slopweaver/slopweaver\",\"labels_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/22/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/22/comments\",\"events_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/22/events\",\"html_url\":\"https://github.com/slopweaver/slopweaver/issues/22\",\"id\":4371367273,\"node_id\":\"I_kwDOSSFOvc8AAAABBI3FaQ\",\"number\":22,\"title\":\"feat(mcp-local): create apps/mcp-local — publishable npm binary that runs stdio MCP\",\"user\":{\"login\":\"lachiejames\",\"id\":47808687,\"node_id\":\"MDQ6VXNlcjQ3ODA4Njg3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/47808687?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/lachiejames\",\"html_url\":\"https://github.com/lachiejames\",\"followers_url\":\"https://api.github.com/users/lachiejames/followers\",\"following_url\":\"https://api.github.com/users/lachiejames/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/lachiejames/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/lachiejames/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/lachiejames/subscriptions\",\"organizations_url\":\"https://api.github.com/users/lachiejames/orgs\",\"repos_url\":\"https://api.github.com/users/lachiejames/repos\",\"events_url\":\"https://api.github.com/users/lachiejames/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/lachiejames/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[{\"id\":10842930866,\"node_id\":\"LA_kwDOSSFOvc8AAAAChkn-sg\",\"url\":\"https://api.github.com/repos/slopweaver/slopweaver/labels/task\",\"name\":\"task\",\"color\":\"0e8a16\",\"default\":false,\"description\":\"AI-actionable unit of work; one issue = one PR\"}],\"state\":\"closed\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":1,\"created_at\":\"2026-05-03T09:15:35Z\",\"updated_at\":\"2026-05-03T12:59:08Z\",\"closed_at\":\"2026-05-03T12:59:08Z\",\"assignee\":null,\"author_association\":\"MEMBER\",\"type\":null,\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":\"## What needs to be done\\n\\nCreate \\\\`apps/mcp-local/\\\\` — the v1 CLI binary. Wires \\\\`@slopweaver/db\\\\` + \\\\`@slopweaver/mcp-server\\\\` together and exposes the \\\\`slopweaver\\\\` command. **This is the MVP milestone**: after this PR, a user can run \\\\`claude mcp add slopweaver -- npx -y @slopweaver/mcp-local\\\\` (or after publish, \\\\`slopweaver\\\\`) and call \\\\`ping\\\\` from any MCP client.\\n\\n## Acceptance criteria\\n\\n- [ ] \\\\`apps/mcp-local/package.json\\\\`: \\\\`name: \\\\\\\"@slopweaver/mcp-local\\\\\\\"\\\\` (or final name TBD), \\\\`bin: { slopweaver: \\\\\\\"./dist/cli.js\\\\\\\" }\\\\`, marked \\\\`\\\\\\\"private\\\\\\\": false\\\\` ready for npm publish\\n- [ ] \\\\`apps/mcp-local/src/cli.ts\\\\` — entry point: parses minimal args (\\\\`--version\\\\`, \\\\`--help\\\\`), opens DB at \\\\`~/.slopweaver/slopweaver.db\\\\`, registers \\\\`ping\\\\` tool, calls \\\\`startStdio()\\\\`\\n- [ ] Default behavior with no args = run stdio MCP server (so \\\\`slopweaver\\\\` works as the bin command for \\\\`claude mcp add\\\\`)\\n- [ ] Bundled with esbuild or tsup into \\\\`dist/cli.js\\\\` so npm consumers don't need Ty[...]
