{
  "log": {
    "_recordingName": "createGithubPoller (cassette)/on second invocation: cursor is threaded as `since` (no duplicate rows, cursor preserved, integration_state re-bracketed)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "deed50e70217a7422a6355c278d5aae1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "is:pr involves:@me repo:slopweaver/slopweaver"
            },
            {
              "name": "per_page",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ],
          "url": "https://api.github.com/search/issues?q=is%3Apr%20involves%3A%40me%20repo%3Aslopweaver%2Fslopweaver&per_page=50&sort=updated&order=desc"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 167966,
            "text": "{\"total_count\":29,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/47\",\"repository_url\":\"https://api.github.com/repos/slopweaver/slopweaver\",\"labels_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/47/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/47/comments\",\"events_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/47/events\",\"html_url\":\"https://github.com/slopweaver/slopweaver/pull/47\",\"id\":4462211523,\"node_id\":\"PR_kwDOSSFOvc7cUN-2\",\"number\":47,\"title\":\"feat(integrations): add StartSessionPoller adapters for github + slack\",\"user\":{\"login\":\"lachiejames\",\"id\":47808687,\"node_id\":\"MDQ6VXNlcjQ3ODA4Njg3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/47808687?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/lachiejames\",\"html_url\":\"https://github.com/lachiejames\",\"followers_url\":\"https://api.github.com/users/lachiejames/followers\",\"following_url\":\"https://api.github.com/users/lachiejames/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/lachiejames/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/lachiejames/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/lachiejames/subscriptions\",\"organizations_url\":\"https://api.github.com/users/lachiejames/orgs\",\"repos_url\":\"https://api.github.com/users/lachiejames/repos\",\"events_url\":\"https://api.github.com/users/lachiejames/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/lachiejames/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":2,\"created_at\":\"2026-05-17T03:57:25Z\",\"updated_at\":\"2026-05-17T04:04:33Z\",\"closed_at\":null,\"assignee\":null,\"author_association\":\"MEMBER\",\"type\":null,\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/slopweaver/slopweaver/pulls/47\",\"html_url\":\"https://github.com/slopweaver/slopweaver/pull/47\",\"diff_url\":\"https://github.com/slopweaver/slopweaver/pull/47.diff\",\"patch_url\":\"https://github.com/slopweaver/slopweaver/pull/47.patch\",\"merged_at\":null},\"body\":\"## What this PR does\\n\\nAdds `createGithubPoller({ token, username })` and `createSlackPoller({ token })` factories in `packages/integrations/{github,slack}/src/poller.ts`. Each returns a `StartSessionPoller` closure (from `@slopweaver/mcp-server`) that reads the current cursor from `integration_state` and threads it as `since` into the underlying sub-polls:\\n\\n- **github** → `pollPullRequests` → `pollIssues` → `pollMentions` (sequential; `username` is captured by the factory)\\n- **slack** → `pollMentions` → `pollDMs` (sequential; identity is resolved per-sub-poll via `auth.test()`)\\n\\nSub-polls run sequentially (not `Promise.all`) so they share each platform's rate-limit budget without bursting; the order also mirrors v1 ranking weight. Boundary translation from neverthrow `Result` to the `Promise<void>` contract happens via `_unsafeUnwrap()`.\\n\\nThe factories are re-exported from each package's public entry; no consumer is wired up yet (that's PR 2 / #45).\\n\\n## Why\\n\\nLays the groundwork for live polling in the `start_session` composite tool — first PR in the v1-wire chain.\\n\\ncloses #44 · refs #2\\n\\n## Test plan\\n\\n- [x] Tests added — `packages/integrations/{github,slack}/src/poller.test.ts` (7 + 6 tests). They mock the underlying poll-function exports via `vi.mock` and assert: [...]
