{
  "log": {
    "_recordingName": "fetchIdentity/on second call updates mutable fields but preserves createdAtMs",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f33d29e1436600f8675f79caad0765b1",
        "request": {
          "headers": [
            {
              "name": "x-github-api-version",
              "value": "2022-11-28"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1390,
            "text": "{\"login\":\"test-user\",\"id\":1,\"node_id\":\"U_test\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/1?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/test-user\",\"html_url\":\"https://github.com/test-user\",\"followers_url\":\"https://api.github.com/users/test-user/followers\",\"following_url\":\"https://api.github.com/users/test-user/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/test-user/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/test-user/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/test-user/subscriptions\",\"organizations_url\":\"https://api.github.com/users/test-user/orgs\",\"repos_url\":\"https://api.github.com/users/test-user/repos\",\"events_url\":\"https://api.github.com/users/test-user/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/test-user/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false,\"name\":\"Test User\",\"company\":null,\"blog\":null,\"location\":null,\"email\":null,\"hireable\":null,\"bio\":null,\"twitter_username\":null,\"notification_email\":null,\"public_repos\":0,\"public_gists\":0,\"followers\":0,\"following\":0,\"created_at\":\"2020-01-01T00:00:00Z\",\"updated_at\":\"2020-01-01T00:00:00Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"8453d55f7d8f6f4d9305ec8343519ba0b6e2ec0e09efe02faf25aacb49eff3eb\""
            },
            {
              "name": "last-modified",
              "value": "Tue, 14 Apr 2026 13:06:40 GMT"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-accepted-github-permissions",
              "value": "allows_permissionless_access=true"
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4978"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1778067041"
            },
            {
              "name": "x-ratelimit-used",
              "value": "22"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 378,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
