{
  "log": {
    "_recordingName": "pollMentions (cassette)/returns a fetched count and writes integration_state for slack",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "402790c507e65df3f991480425e1e2c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://slack.com/api/auth.test"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 174,
            "text": "{\"ok\":true,\"url\":\"https://example.slack.com/\",\"team\":\"[redacted]\",\"user\":\"[redacted]\",\"team_id\":\"T0A63ULSH6K\",\"user_id\":\"U0A6P0984BE\",\"is_enterprise_install\":false}"
          },
          "headers": [
            {
              "name": "x-slack-req-id",
              "value": "23ef786566d4c24626a1b5177b0231e6"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-oauth-scopes",
              "value": "identify,channels:history,groups:history,im:history,mpim:history,channels:read,files:read,groups:read,im:read,mpim:read,reactions:read,search:read,users:read,users:read.email,channels:write,chat:write,groups:write,im:write,mpim:write,reactions:write"
            },
            {
              "name": "x-slack-unique-id",
              "value": "afs6eF8CFJSMF_dxOn3qmgAAECQ"
            },
            {
              "name": "x-slack-backend",
              "value": "r"
            },
            {
              "name": "x-backend",
              "value": "api_normal"
            },
            {
              "name": "x-server",
              "value": "slack-www-hhvm-api-iad-a7oltse0vjjw"
            },
            {
              "name": "x-slack-shared-secret-outcome",
              "value": "no-match"
            },
            {
              "name": "x-edge-backend",
              "value": "envoy-www"
            },
            {
              "name": "x-slack-edge-shared-secret-outcome",
              "value": "no-match"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 379,
      },
      {
        "_id": "de32c827f4ceda70639e5b2c057149cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "query=%5Bredacted-query%5D&count=100&page=1"
          },
          "queryString": [],
          "url": "https://slack.com/api/search.messages"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1022,
            "text": "{\"ok\":true,\"query\":\"<@U0A6P0984BE>\",\"messages\":{\"total\":1,\"pagination\":{\"total_count\":1,\"page\":1,\"per_page\":100,\"page_count\":1,\"first\":1,\"last\":1},\"paging\":{\"count\":100,\"total\":1,\"page\":1,\"pages\":1},\"matches\":[{\"db_message\":{},\"iid\":\"f82f808b-4390-41f4-b5db-83929f68241f\",\"team\":\"T0A63ULSH6K\",\"score\":3.8814123,\"channel\":{\"id\":\"D0AF8SF99SP\",\"is_channel\":false,\"is_group\":false,\"is_im\":true,\"is_mpim\":false,\"is_shared\":false,\"is_org_shared\":false,\"is_ext_shared\":false,\"is_private\":true,\"is_archived\":false,\"name\":\"[redacted]\",\"user\":\"U0AFF8JRW9G\"},\"type\":\"im\",\"user\":\"U0AFF8JRW9G\",\"username\":\"[redacted]\",\"ts\":\"1771331955.180809\",\"blocks\":[{\"type\":\"rich_text\",\"block_id\":\"iOqIU\",\"elements\":[{\"type\":\"rich_text_section\",\"elements\":[{\"type\":\"emoji\",\"name\":\"[redacted]\",\"unicode\":\"1f44b\"},{\"type\":\"text\",\"text\":\"[redacted-message-text]\"},{\"type\":\"user\",\"user_id\":\"U0A6P0984BE\"}]}]}],\"text\":\"[redacted-message-text]\",\"permalink\":\"https://example.slack.com/archives/D0AF8SF99SP/p1771331955180809\",\"no_reactions\":true}]}}"
          },
          "headers": [
            {
              "name": "x-slack-req-id",
              "value": "2a86e5fed79f8bd7ae8dd437cadc8c15"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "search:read"
            },
            {
              "name": "x-oauth-scopes",
              "value": "identify,c[...]
