{
  "log": {
    "_recordingName": "pollPullRequests/upserts each returned PR into evidence_log and bumps integration_state",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "deed50e70217a7422a6355c278d5aae1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "is:pr involves:@me repo:slopweaver/slopweaver"
            },
            {
              "name": "per_page",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ],
          "url": "https://api.github.com/search/issues?q=is%3Apr%20involves%3A%40me%20repo%3Aslopweaver%2Fslopweaver&per_page=50&sort=updated&order=desc"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 115230,
            "text": "{\"total_count\":22,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/33\",\"repository_url\":\"https://api.github.com/repos/slopweaver/slopweaver\",\"labels_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/33/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/33/comments\",\"events_url\":\"https://api.github.com/repos/slopweaver/slopweaver/issues/33/events\",\"html_url\":\"https://github.com/slopweaver/slopweaver/pull/33\",\"id\":4390745226,\"node_id\":\"PR_kwDOSSFOvc7Yu7Ew\",\"number\":33,\"title\":\"feat(integrations): packages/integrations/github polling for PRs/issues/mentions\",\"user\":{\"login\":\"lachiejames\",\"id\":47808687,\"node_id\":\"MDQ6VXNlcjQ3ODA4Njg3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/47808687?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/lachiejames\",\"html_url\":\"https://github.com/lachiejames\",\"followers_url\":\"https://api.github.com/users/lachiejames/followers\",\"following_url\":\"https://api.github.com/users/lachiejames/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/lachiejames/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/lachiejames/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/lachiejames/subscriptions\",\"organizations_url\":\"https://api.github.com/users/lachiejames/orgs\",\"repos_url\":\"https://api.github.com/users/lachiejames/repos\",\"events_url\":\"https://api.github.com/users/lachiejames/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/lachiejames/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":1,\"created_at\":\"2026-05-06T10:51:51Z\",\"updated_at\":\"2026-05-06T11:05:02Z\",\"closed_at\":null,\"assignee\":null,\"author_association\":\"MEMBER\",\"type\":null,\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/slopweaver/slopweaver/pulls/33\",\"html_url\":\"https://github.com/slopweaver/slopweaver/pull/33\",\"diff_url\":\"https://github.com/slopweaver/slopweaver/pull/33.diff\",\"patch_url\":\"https://github.com/slopweaver/slopweaver/pull/33.patch\",\"merged_at\":null},\"body\":\"## What this PR does\\n\\nScaffolds `@slopweaver/integrations-github` — the first concrete writer for `evidence_log` and `identity_graph`. Public surface:\\n\\n- `pollPullRequests({ db, token, since })` / `pollIssues(...)` — search-based pollers that upsert each result into `evidence_log` (kind-prefixed `external_id`: `pr_<id>` / `issue_<id>` / `mention_<id>` so a same-id mention can't collide with the underlying PR/issue).\\n- `pollMentions({ db, token, since, username })` — explicit username because GitHub's `mentions:` qualifier rejects `@me`. v1 ships PR mentions only (`/search/issues` now requires `is:pr` or `is:issue`); issue mentions follow up.\\n- `fetchIdentity({ db, token })` — `GET /user` then upsert into `identity_graph`. v1 `canonical_id` is the sentinel `github:<external_id>`.\\n- `githubFetch({ token, path, … })` — minimal REST wrapper. Reads `X-RateLimit-Remaining`/`Reset` and sleeps until reset when remaining < threshold (default 10). Sleep is injectable.\\n\\nAll upserts use Drizzle `onConflictDoUpdate` against the existing `(integration, external_id)` UNIQUE constraints. `integration_state.cursor` advances to the latest `updated_at` on success; `last_poll_started_at_ms` / `last_poll_completed_at_ms` diverge only if a poll fails midway.\\n\\n## Why\\n\\n`eviden[...]
