{
  "log": {
    "_recordingName": "githubFetch/throws GithubFetchError on 401",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f33d29e1436600f8675f79caad0765b1",
        "request": {
          "headers": [
            {
              "name": "x-github-api-version",
              "value": "2022-11-28"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 112,
            "text": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://docs.github.com/rest\",\"status\":\"401\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 250,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
